@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --background-accent-color: #f5f4fa;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.a {
  font-style: normal;
  display: block;
  text-decoration: none;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 16px;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.advantage__title {
  color: #212121;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-align: center;
}

.advantage__list {
  list-style: none;
  justify-content: center;
  margin-left: -30px;
  padding-bottom: 0px;
  margin-right: auto;
}

.advantage {
  margin-bottom: -94px;
}

.advantage__item {
  width: 100%;
  margin-bottom: 30px;
  margin-left: 30px;
}

.advantage__link {
  border-radius: 4px;
  background-color: #f5f4fa;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  width: 450px;
  height: 120px;
}

.advantage__icon {
  width: 70px;
  height: 70px;
}

.advantage__text {
  color: #757575;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  text-align: left;
  vertical-align: Top;
  padding-top: 10px;
  line-height: 1.71;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-people {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-people-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-people-link-link {
  width: 44px;
  height: 44px;
  display: block;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-people-link-link:hover, .section-people-link-link:focus {
  background-color: #2196f3;
}

.section-people-link-link:hover + .section-people-icon, .section-people-link-link:focus + .section-people-icon {
  fill: #ffffff;
}

.section-people-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about-list {
  background-color: #f5f4fa;
  align-items: center;
  justify-content: center;
  margin-bottom: -30px;
}

.list-interval {
  margin-right: 30px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px, black, 0px 2px 1px, black;
  background-color: #ffffff;
}

.list-interval:nth-last-child(4n + 1) {
  margin-right: 0px;
}

.team-card-contact {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #ffffff;
}

.section-title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 0;
}

.section-title-list {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 10px;
  background-color: #ffffff;
}

.section .career {
  color: #757575;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 16px;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.pictures {
  list-style: none;
  display: flex;
  margin-right: 30px;
}

.pictures:nth-last-child(3n + 1) {
  margin-right: 0px;
}

.img {
  max-width: 100%;
  height: auto;
  display: block;
}

.picture-description {
  position: relative;
  overflow: hidden;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.description1 {
  padding-top: 27px;
  padding-bottom: 27px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color-white);
  background-color: rgba(47, 48, 58, 0.8);
}

.klients-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.klients-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
}

.klients-item:not(:last-child) {
  margin-right: 30px;
}

.klients-link {
  width: 170px;
  height: 92px;
  border: 1px solid;
  border-radius: 4px;
  color: #afb1b8;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color 250ms, color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.klients-link:hover, .klients-link:focus {
  border-color: #2196f3;
}

.klients-link:hover + .klients-icon, .klients-link:focus + .klients-icon {
  fill: #2196f3;
}

.klients-icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition-property: fill 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button {
  display: inline-block;
  border: 1px solid transparent;
  padding: 10px 32px;
  min-width: 200px;
  background: #2196f3;
  box-shadow: 0px 4px 4px, rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
  color: #ffffff;
  transition: color 250ms linear, background-color 250ms linear, cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  background-color: #188ce8;
}

.button1 {
  display: flex;
  min-width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px, rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9px;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding: 10px 28px;
  border-color: transparent;
  align-items: center;
  text-align: center;
  cursor: pointer;
  border: none;
  transition: color 250ms linear, background-color 250ms linear, cubic-bezier(0.4, 0, 0.2, 1);
}

.button1:hover, .button1:focus {
  background-color: #188ce8;
}

.footer-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  background-color: #44454e;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover, .footer-social-link:focus {
  background-color: #2196f3;
}

.footer-social-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
  transition: fill 250ms;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-item {
  width: 44px;
  height: 44px;
}

.footer-social-icon1 {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop-icon {
  width: 18px;
  height: 18px;
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-icon:hover, .backdrop-icon:focus {
  fill: var(--accent-color);
}

.backdrop-window {
  width: 30px;
  height: 30px;
  background-color: var(--background-main-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  border-radius: 4px;
  background-color: #ffffff;
  padding: 40px;
}

.modal-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-field {
  margin-bottom: 20px;
}

.input-label {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #757575;
  display: block;
  margin-bottom: 4px;
}

.modal-input {
  width: 100%;
  height: 40px;
  left: 576px;
  top: 314px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  background: transparent;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 20px;
  padding-left: 42px;
  outline: none;
}

.modal-input:focus {
  border-color: var(--accent-color);
}

.modal-input:focus + .input-icon {
  fill: var(--accent-color);
}

.input-wrapper {
  display: block;
  position: relative;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-text-input {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background: transparent;
  display: block;
  padding-left: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 16px;
  outline: 0px;
  resize: none;
  outline: none;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

.modal-text-input:focus {
  border-color: var(--accent-color);
}

.check-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  margin-bottom: 30px;
  margin-top: 20px;
  background: transparent;
  align-items: center;
  justify-content: center;
}

.check-text span {
  width: 16px;
  height: 15px;
  border-radius: 3px;
  background: #212121;
  border: 2px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 8px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-checkbox:checked + .check-text span {
  background-color: #2196f3;
  border: none;
}

.check-message {
  color: #2196f3;
}

.button {
  display: block;
  margin: 0 auto;
}

.modal-button {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: auto;
}

.button-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  transition: color 250ms linear, background-color 250ms linear, cubic-bezier(0.4, 0, 0.2, 1);
}

.list .button-primary1 {
  background-color: #2196f3;
  font-style: normal;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  cursor: pointer;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list .button-primary {
  font-family: inherit;
  font-style: normal;
  background-color: #f5f4fa;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list .button-primary:hover, .list .button-primary:focus {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.portfolio-item:not(:last-child) {
  margin-right: 8px;
}

.logo {
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo .studio:hover,
.logo .studio:focus {
  color: #2196f3;
}

.studio {
  color: #000000;
  font-family: raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.list {
  list-style: none;
}

/* site-nav*/
.site-nav .link {
  color: #212121;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover, .site-nav .link:focus {
  color: #2196f3;
  text-decoration: none;
}

.site-nav .link1 {
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link.current {
  color: #2196f3;
}

.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  display: block;
  position: relative;
}

.auth-nav .link {
  color: #757575;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  text-decoration: none;
  display: flex;
  margin-left: auto;
  align-items: center;
}

.site-nav .link1 {
  color: #2196f3;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header-container {
  display: flex;
}

.page-header-navigation {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
  transition: color 250ms ease, cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.auth-nav {
  display: flex;
  margin-left: auto;
  align-items: center;
  transition: color 250ms ease, cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-item-link:hover .icon-mail1,
.contact-item-link:focus .icon-mail1,
.contact-item-link:hover .icon-mail,
.contact-item-link:focus .icon-mail {
  fill: var(--accent-color);
}

.contact-item-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-item-link:focus, .contact-item-link:hover {
  color: var(--accent-color);
}

.icon-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: #757575;
}

.icon-mail1 {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: #757575;
}

.auth-nav .item + .item {
  margin-left: 50px;
}

/* css для портфолио */
.site-nav .link2 {
  color: #2196f3;
  text-decoration: none;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.hero__title {
  color: #ffffff;
  font-family: Roboto;
  font-weight: 900;
  text-align: center;
  margin-bottom: 30px;
  font-size: 26px;
  line-height: 1.6;
}

.hero {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img-2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  padding: 200px 0;
  width: 100%;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 118px;
  padding-bottom: 118px;
}

.hero-portfolio-list {
  list-style: none;
}

.hero-portfolio {
  background-color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: #212121;
  cursor: pointer;
  padding: 94px 0px;
}

.footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.footer-info {
  display: flex;
  align-items: flex-start;
}

.footer-title {
  margin-bottom: 20px;
}

.footer .studio {
  color: #ffffff;
  font-family: raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.list1 {
  list-style: none;
  padding-top: 20px;
  margin-right: 70px;
}

.address-mulo {
  margin-bottom: 9px;
}

.address-mulo1 {
  margin-bottom: 0px;
}

.address .list1 .contact {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  background-color: #2f303a;
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 9px;
}

.address .list1 .contact:hover, .address .list1 .contact:focus {
  color: #2196f3;
}

.address .list1 .contact1 {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  font-style: normal;
  margin-top: 20px;
  margin-bottom: 9px;
}

.address .list1 .contact1:hover, .address .list1 .contact1:focus {
  color: #2196f3;
}

.footer-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 18px;
}

.footer-right1 {
  margin-left: auto;
}

.footer-text1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  margin-left: 93px;
}

.online-form {
  display: flex;
}

.online-text {
  color: rgba(255, 255, 255, 0.6);
  width: 358px;
  height: 50px;
  left: 815px;
  top: 2787px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  fill: 2f303a;
  margin-left: 93px;
  padding-top: 15px;
  padding-left: 16px;
  padding-bottom: 15px;
  color: rgba(255, 255, 255, 0.6);
  resize: none;
  outline: 0px;
  color: #ffffff;
}

.online-text:focus {
  border-color: var(--accent-color);
}

.footer-social-icon1 {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.list-portfolio {
  list-style: none;
}

.list-portfolio-container {
  display: flex;
  flex-wrap: wrap;
}

.product-content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list-portfolio-elements {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.list-portfolio-elements:nth-child(-n + 3) {
  margin-top: 0;
}

.list-portfolio-elements:nth-child(3n + 1) {
  margin-left: 0;
}

.list-portfolio-elements-ref {
  display: block;
  text-decoration: none;
}

.list-portfolio-elements-ref:hover, .list-portfolio-elements-ref:focus {
  box-shadow: 0px 1px 1px, black, 0px 4px 4px, black, 1px 4px 6px, black;
}

.portfolio-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-description {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #ffffff;
  border: 1px solid #ffffff;
  text-shadow: 0px 4px 4px, rgba(0, 0, 0, 0.25);
  background-color: rgba(33, 150, 243, 0.9);
}

.list-portfolio-elements:hover .portfolio-description {
  transform: translatey(0);
}

.title-list-portfolio {
  color: #212121;
  font-family: Roboto;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.text-list-portfolio {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
}
/*# sourceMappingURL=main.css.map */