.list-interval {
  margin-right: 30px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px, rgb(0, 0, 0 / 12%), 0px 2px 1px, rgb(0, 0, 0 / 20%);
  background-color: #ffffff;
}

.list-interval {
  &:nth-last-child(4n + 1) {
    margin-right: 0px;
  }
}
