.a {
  font-style: normal;
  display: block;
  text-decoration: none;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 16px;
}
.list {
  list-style: none;
}
